@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  background-color: #020617; /* slate-950 */
  color: white;
}

/* 3D Transform Helper */
.backface-hidden {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}